<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand " href="#">
      <img src="{{ asset('images/logonav.png') }}" class="banner-img " alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="#">Nos prestations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Actualités</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-hover animate__animated" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nos réalisations
          </a>
          <ul class="dropdown-menu animate__animated animate__fadeInDown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Qui sommes-nous ?</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Nous contacter</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-sharp fa-solid fa-phone fa-beat me-2" style="color: #c47845;"></i>06.21.44.64.21</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
